<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{yyyy-MM-dd HH:mm:SSS}) %green([%thread]) %highlight(%-5level) %boldMagenta(%logger{10}) - %black(%msg%n)</pattern>
        </encoder>
    </appender>

    <logger name="com.truthbean" level="trace" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>