<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="on">
    <Properties>
        <Property name="LOG_HOME">target/logs/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{%d{HH:mm:ss.SSS} %-5level}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} [%t] %class{36}.%M()/%L %highlight{- %msg%xEx%n}{STYLE=Logback}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="TRACE" additivity="false">
            <appender-ref ref="Console"/>
        </Root>
    </Loggers>
</configuration>