<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%date{yyyy-MM-dd HH:mm:ss:SSS}) %highlight(%-5level) %red(%thread) %boldYellow(%logger{36}) - %msg%xEx%n </pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>